<h1>All users</h1>

<table>
  <tr>
    <th align="left" width="100">Name</th>
    <th align="left">Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>